<div class="layout-hero">
  <div class="container layout-hero__container">
    <div class="layout-hero__logo">
      <%= image_tag("logo.svg", :alt => "Geopin logo") %>
    </div>
    <h1>Welcome to Geopin!</h1>
    <h2>A fun and delightful experience for logging your adventure out in the wild.</h2>

    <button class="btn btn-primary"><%= link_to "SIGN IN", login_path, :class => "btn btn-primary" %></button>
  </div>
</div>


