/*==============================================================================
  Colours
 ==============================================================================*/

 $dark-grey: #2D2D2D;
 $mid-grey: #545454;
 $light-grey: #f5f3f3;

 $dark-orange: #A43A3A;
 $mid-orange: #F26969;
 $light-orange: #F3A1A1;

/*==============================================================================
  Layout Limits
 ==============================================================================*/

$layout-fixed-max-width: 800px;
$layout-fixed-max-width-small: 580px;
$layout-fixed-max-width-large: 1200px;
$layout-fix-sidebar-width: 250px;
$layout-min-sidebar-width: 250px;

.container {
  margin: 50px 15px;
  padding: 10px;
  width: 90%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.card {
  background: white;
  padding: 20px 0;
}

.row {
  width: 100%;
}

.layout-content {
  display: flex;
}

.col-4, .col-6, .col-9, .col-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.col-4{
  width: 20%;
}

.col-6 {
  width: 40%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}

/*==============================================================================
  Resets
 ==============================================================================*/

body {
  background: $light-grey;
  margin: 0;
  padding: 0;
  font-family: 'open-sans', Sans-serif, Helvetica;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
}

label {
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 100;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

li {
  list-style: none;
}

.form-group {
  margin-bottom: 10px;
}

.btn {
  padding: 10px;
  font-size: 14px;
  border-radius: 3px;
}

.btn-default {
  border: 1px solid $mid-orange;
  background: #fff;
}



/*==============================================================================
  Topbar
 ==============================================================================*/

.topbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #ebeef0;
  min-height: 56px;
  background: $dark-grey;
  height: 30px;
  display: flex;
  max-width: 100vw;
  flex-direction: row;
  z-index: 10;
}

  .topbar-container {
    width: 90%;
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
  }

.logo-wrapper {
  width: 5%;
  flex: 1 1 auto;
}

  .logo {
    width: 40px;
    height: 40px;
    margin: 15px 0px;
    float: left;
  }

  .logo-name {
    color: $mid-grey;
    margin: 20px 50px;
    font-size: 1.5em;
    font-weight: 100;
  }

nav {
  flex: 0 0 auto;
}

  .nav-wrapper {
    display: flex;
  }

    .nav-item {
      padding: 10px;
      color: darken($light-grey, 10%);
    }
